* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    color: black;
    font-size: 25px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    padding-right: 40px;
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    color: black;
}

nav ul li a:hover {
    color: #4649C6;
}

header {
    position: relative;
    padding: 40px 0;
    margin-top: 60px; 
    margin-bottom: 40px; 
    text-align: center;
    z-index: 2;
}

header h1 {
    padding-bottom: 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 70px;
}

header p {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
}

.section-1 {
    z-index: 2;
    margin-top: 0px;
    position: relative;
    padding: 0px;
}

.section-1 .question {
    width: 600px;
    height: 90px;
    background-color: #787AF9;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question h1 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.types {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

